

.swiper {
  width: 300;
  height: 300px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.section-slider{
  margin-top: 150px;
  margin-bottom: 80px;
}